---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <base href="/" />
  <link href="apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
  <link href="favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
  <link href="favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
  <link href="site.webmanifest" rel="manifest" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={description} />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
    rel="stylesheet"
  />
</head>
